.site-footer {
	width 		: 100%;
	float 		: left;
}

.wrap-footer {
	overflow 	: auto;

	@media only screen and (min-width: $bp__menu-button+1) {
		padding : 0 !important;
		margin 	: 0 !important;
	}
}

.site-info {
	text-align 	: center;
	width 		: 100%;
	float 		: left;
	overflow 	: auto;
	font-size 	: $font__footer;
	color 		: $light;

	a {
		text-decoration : none;
		color 			: $light;
		font-size 		: $font__footer;
		font-weight 	: 400;
		padding 		: 0;
		text-transform 	: capitalize;
		display 		: inline;
	}

	.site-footer & {
		display: block;

		@media only screen and (min-width: $bp__menu-button+1) {
			display: none;
		}
	}

	.main-navigation & {
		text-align 	: left;
		padding 	: 2em;
		display 	: none;

		@media only screen and (min-width: $bp__menu-button+1) {
			display: block;
		}
	}
}