/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";
@import "primary/landfills";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Page Parts
--------------------------------------------------------------*/
@import "global/header";
@import "global/footer";

.wrap {
	max-width 	: $size__max-width;
	margin 		: 0 auto;
	padding 	: 1em;
	overflow 	: auto;
	transition 	: $transition__1;
}