$font__main 				: 'Raleway', sans-serif;
$font__code 				: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre 					: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body 	: 1.5;
$font__line-height-pre 		: 1.6;

$font__size-default 		: 16px;
$font__size-social 			: 55px;
$font__size-social-small 	: 40px;

$font__size-submenu 		: 19px;
$font__footer 				: 12px;

/**
 * size: top-level menu item - bold 22
 * size: "Bill pay”, “news”, “Careers”, & “connect with us” - bold 22
 *
 * size: current menu item - heavy 19
 *
 * size: submenu item - bold 19
 *
 * size: “Menu” for the main menu - extra bold 31
 *
 * size: “request services” in header search - extra bold 32
 *
 * size: “residential”, “commercial”, and “industrial” in header - bold 18
 *
 * size: alert title - bold 17
 *
 * size: page title - extra bold 70
 *
 * size: footer info - bold 14
 */